$primary-bg-color: #3D4E77;
$secondary-bg-color: #424656;
$tertiary-bg-color: #424656;

$text-white: #fff;
$text-black: #000000;
$text-grey: #616161;

$primary-highlight-color: #57AAFF;
$secondary-highlight-color: #F1F1E6;
$tertiary-highlight-color: #FFF7D6;


$max-width: 768px;
