<!doctype html>
<html>
{{#> head-block}}
	{{> head }}
{{/head-block}}

<body>
{{#> header-block}}
	{{> header/header }}
{{/header-block}}

{{#> hero-block}}
	{{> hero/hero }}
{{/hero-block}}

{{#> content-block}}
	<div class="landing-page">
		{{> content/landingpage}}
	</div>

	<div class="container-fluid" id="social-media">
		{{> content/imagecard}}
	</div>

	<div class="container-fluid" id="works">
		{{> content/works}}
	</div>

	<div class="container-fluid" id="contact">
	</div>
{{/content-block}}

{{#> footer-block}}
	{{> footer/footer }}
{{/footer-block}}

{{#> scripts-block}}
	<script src="./assets/js/ainstafeed.js"></script>
	<script src="./assets/js/script.js"></script>
{{/scripts-block}}
</body>
</html>
