<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
{{#> header-block}}
	{{> header/header }}
{{/header-block}}

{{#> hero-block}}
	{{> hero/hero }}
{{/hero-block}}

{{#> content-block}}
{{/content-block}}

{{#> footer-block}}
	{{> footer/footer }}
{{/footer-block}}

{{#> scripts-block}}
	<script src="assets/js/script.js"></script>
{{/scripts-block}}
</body>
</html>
