<!-- Navigation -->
<div class="b-nav">
	<li><a class="b-link" href="https://github.com/mblode/burger" target="_blank">Home</a></li>
	<li><a class="b-link" href="https://github.com/mblode" target="_blank">Social Media</a></li>
	<li><a class="b-link" href="https://codepen.io/mblode/" target="_blank">Works</a></li>
	<li><a class="b-link" href="https://dribbble.com/mblode" target="_blank">Contact</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container mb-5">
	<div class="b-menu">
		<div class="b-bun b-bun--top"></div>
		<div class="b-bun b-bun--mid"></div>
		<div class="b-bun b-bun--bottom"></div>
	</div>
</div>

