<!-- Navigation -->
<div class="b-nav">
	<li><a class="b-link" href="#">Home</a></li>
	<li><a class="b-link" href="#social-media">Social Media</a></li>
	<li><a class="b-link" href="#">Works</a></li>
	<li><a class="b-link" href="#">Contact</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container mb-5">
	<div class="b-menu">
		<div class="b-bun b-bun--top"></div>
		<div class="b-bun b-bun--mid"></div>
		<div class="b-bun b-bun--bottom"></div>
	</div>
</div>

