@import './node_modules/bootstrap/scss/bootstrap.scss';

@import '_includes/_vars';
@import '_includes/_mixins';
@import '_includes/_fonts';
@import '_includes/_page';
@import '_includes/_navbar';
@import '_includes/_hero';
@import '_includes/_footer';
@import '_includes/_imagescard';





