<section class="section">
	<h1>// tools</h1><h3 class="mb-5">this is what i use.</h3>
	<div class="toolkit cf">
		<div class="toolkits cf" id="showcase">
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/ubuntu.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// OS</div>
						<h3 class="toolkit-title">linux - ubuntu</h3>
					</div>
				</div>
			</div>
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/phpstorm.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// EDITOR</div>
						<h3 class="toolkit-title">phpstorm</h3>
					</div>
				</div>
			</div>
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/gulp.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// BUILD PIPELINE</div>
						<h3 class="toolkit-title">gulp</h3>
					</div>
				</div>
			</div>
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/sass.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// CSS LANGUAGE</div>
						<h3 class="toolkit-title">scss</h3>
					</div>
				</div>
			</div>
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/babel.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// JS COMPILER</div>
						<h3 class="toolkit-title">babel.js</h3>
					</div>
				</div>
			</div>
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/typo3.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// CMS</div>
						<h3 class="toolkit-title">typo3</h3>
					</div>
				</div>
			</div>
			<div class="toolkit-item slide">
				<div class="toolkit-summary card">
					<div class="toolkit-thumbnail">
						<img src="./assets/images/png/package.png" height="277" width="400" alt="image">
					</div>
					<div class="toolkit-info">
						<div class="toolkit-topic">// PACKAGE MANAGER</div>
						<h3 class="toolkit-title">composer / npm</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
