<!-- Navigation -->
<div class="b-nav">
	<li><a class="b-link" href="#">home</a></li>
	<li><a class="b-link" href="#social-media">social media</a></li>
	<li><a class="b-link" href="#works">works</a></li>
	<li><a class="b-link" href="#contact">contact</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container mb-5">
	<div class="b-menu">
		<div class="b-bun b-bun--top"></div>
		<div class="b-bun b-bun--mid"></div>
		<div class="b-bun b-bun--bottom"></div>
	</div>
</div>

